@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&display=swap');


@import "tailwindcss";

@layer theme {
    :root {
        --default-font-family: Coral Pixels;
    }
}

@layer base {
    h1,h2,h3,h4,h5,h6{
font-family: var(--default-font-family)
    }
    body{
        font-family: var(--default-font-family);
    }
}

@layer components {
    .box{
        @apply bg-violet-100 rounded-md;
    }
}

@layer utilities {
    .aspect-portrait {
        aspect-ratio: 2/3;
    }
    .aspect-wide {
        aspect-ratio: 4/3;
    }


}

img {
    border-radius: 0.375rem; /* Equivalent to rounded-md */
}